<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hudson Linux</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous"> 

    <style>

	nav {
	    margin: 0;
	    padding: 0;
	    text-align:center;
	    list-style: none;
	    background-color: #EEEEEE;
	    border-bottom: 5px solid #AAAAAA;
	    border-top: 1px solid #999999;
	}
	nav li {
	    display:inline-block;
	}
	nav li a {
	    display: block;
	    padding: 15px 15px;
	    font-size: 2em;
	    text-decoration: none;
	    color: #D53411;
	}
	
	nav li a:hover {
	    color: #ffffff;
	    background-color: #ff0000;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    -khtml-border-radius: 3px;
	    border-radius: 3px;
	}

	.foot {
	    margin: 0;
	    padding: 0;
	    text-align:center;
	    list-style: none;
	    background-color: #EEEEEE;
	    border-top: 1px solid #999999;
	}


    </style>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-light py-4" id="main-nav">
      <div class="container">

        <a href="/" class="navbar-brand">
          <img src="{{url_for('static', filename='3DPrinter.jpg')}}" height="50" alt="logo">
        </a>

        <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto navbar-right">
		    <li class="nav-item ml-auto"><a href="{{ url_for('home') }}" class="nav-link">Home</a</li>
		    <li class="nav-item ml-auto"><a href="{{ url_for('classes') }}" class="nav-link">Classes</a></li>
		    <li class="nav-item ml-auto"><a href="{{ url_for('services') }}" class="nav-link">Services</a></li>
		    <li class="nav-item ml-auto"><a href="{{ url_for('instructors') }}" class="nav-link">Staff</a></li>
		    <li class="nav-item ml-auto"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    

    {% block content %} {% endblock %}

	<div class="foot fixed-bottom navbar flex-row">
		<ul class="col-4 list-unstyled">
			<li class="">
				<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
					<path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
				551-300-9323
			</li>
		</ul>
		<ul class="col-4 list-unstyled">		
			<li class="">
				<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
					<path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
				</svg>
				classes@hudsonlinux.com
			</li>		
		</ul>
		<ul class="col-4 list-unstyled">	
			<li class="">
				<a class="nav-link py-2 px-0 px-lg-2" href="https://www.youtube.com/@HudsonLinux" target="_blank" rel="noopener">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-youtube" viewBox="0 0 16 16">
						<path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
					</svg>
				</a>
			</li>
		</ul>
	</div>

   <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js " integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


</body>
</html>

