{% extends 'base.html' %}

{% block content %}
<section id="explore-section" class="bg-white py-5">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
           <h1>Classes Offered</h1>
      </div>  
    </div>

    <div class="row">
      <div class="col-md-12">
           <h2>Everything About Linux</h2>
           <p>This is a super fun, project based class about Linux. We'll set you up with your own Linux PC and start by showing how to install and configure the Operating System. From there we'll deploy some websites on the machine, we'll compile some video games from C++ code, we'll see how to set up a Netflix clone to stream your DVD library, and more. We'll also write some code in a few programming languages and look at a bunch of essential hacking techniques.</p>
           <p> By the end of this class you'll be able to accomplish just about anything you want to do on a Linux computer. The class will amaze and inspire you. The instructor has over a decade of industry experience with Linux and will surely be able to answer any additional questions you have!</p>
           <p> <strong> Price of the class includes your own Linux PC! </strong></p>
           <p> Email classes@hudsonlinux.com or call 551-300-9323 for more information or to sign up. Have more than one child, or want to bring a friend? Inquire about group discounts. </p>
      </div>  
    </div>

    <div class="row">
      <div class="col-md-12">
           <h2>Embedded software development on Linux</h2>
           <p>This super fun, hands on class will involve controlling a variety of electro-mechanical devices from a raspberry pi or beaglebone computer. You'll learn all you need to build robots, design home IoT devices, and more.</p>
           <p> Raspberry Pi and Beaglebone available for sale, or bring your own.</p>
                      <p> Email classes@hudsonlinux.com or call 551-300-9323 for more information or to sign up. Have more than one child, or want to bring a friend? Inquire about group discounts. </p>

      </div>  
    </div>



<!--
    <h1>{% block title %}  {% endblock %}</h1>
    <h2>We offer the following classes:</h2>
    <h3> Linux </h3>
    <ul>	    
	    <li> Introduction to Linux </li>
	    <li> Advanced Linux </li>
	    <li> Embedded software development with Arduino </li>
	    <li> Embedded Linux Development </li>
	    <li> Linux Driver Development </li>
	    <li> Introduction to 3d printing </li>
	    <li> Introduction to CNC machining </li>
    </ul>

    <h3> Mobile Development </h3>
	<ul>	    
	    <li> Android App Development Kotlin</li>
	    <li> Android App Development with Java </li>
	    <li> Android App Development with Jetpack Compose </li>
	    <li> Cross platform development with Xamarin / .NET MAUI </li>
	</ul>

    <h3> Video Game Development </h3>
	<ul>
		<li> Introduction to Unreal Engine </li>
		<li> Virtual Reality Development with Unreal Engine </li>
		<li> Android Development with Unreal Engine </li>
	</ul>

-->

  </div>
</section>
{% endblock %}
