{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Classes {% endblock %}</h1>
    <h2>We offer the following classes:</h2>
    <h3> Linux </h3>
    <ul>	    
	    <li> Introduction to Linux </li>
	    <li> Advanced Linux </li>
	    <li> Embedded software development with Arduino </li>
	    <li> Embedded Linux Development </li>
	    <li> Linux Driver Development </li>
	    <li> Introduction to 3d printing </li>
	    <li> Introduction to CNC machining </li>
    </ul>

    <h3> Mobile Development </h3>
	<ul>	    
	    <li> Android App Development Kotlin</li>
	    <li> Android App Development with Java </li>
	    <li> Android App Development with Jetpack Compose </li>
	    <li> Cross platform development with Xamarin / .NET MAUI </li>
	</ul>

    <h3> Video Game Development </h3>
	<ul>
		<li> Introduction to Unreal Engine </li>
		<li> Virtual Reality Development with Unreal Engine </li>
		<li> Android Development with Unreal Engine </li>
	</ul>
{% endblock %}
