{% extends 'base.html' %}

{% block content %}
<section id="explore-section" class="bg-white py-5">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
           <h1>Classes Offered</h1>
      </div>  
    </div>

    <div class="row m-2 border border border-success rounded">
      <div class="col-md-12">
           <h2>The Linux Workbook</h2>
           <h3 class="text-success">$300 includes class + a PC</h3>
           <p> Learn everything you need to know to get started using Linux. </p>
           <p>This is a super fun, project based class about Linux. We'll set you up with your own Linux PC and start by showing how to install and configure the Operating System. From there we'll deploy some websites on the machine, we'll compile some video games from C++ code, we'll see how to set up a Netflix clone to stream your DVD library, and more. We'll also write some code in a few programming languages and look at a bunch of essential hacking techniques.</p>
           <p> By the end of this class you'll be able to accomplish just about anything you want to do on a Linux computer. The class will amaze and inspire you. The instructor has over a decade of industry experience with Linux and will surely be able to answer any additional questions you have!</p>
           
      </div>  
      <div class="col-md-6">
      	<p> <strong> Price of the class includes your own Linux PC! Small form factor PC with 512GB SSD plus minimum 4GB RAM. Class can run from one to three days depending on your convenience. If you live close you might prefer 3 small classes, but if you commute maybe one or two long days will be best for you.</strong></p>
      </div>
      <div class="col-md-6">
      	            <img src="{{url_for('static', filename='sample_pc_for_class.jpg')}}" alt="" class="img-fluid rounded">
      </div>
      <div class="col-md-12">
      	<p> Email classes@hudsonlinux.com or call 551-300-9323 for more information or to sign up. Have more than one child, or want to bring a friend? Inquire about group discounts. </p>

      </div>
    </div>

    <div class="row m-2 border border border-success rounded">
      <div class="col-md-12">
           <h2>How to Design Models and 3D Print</h2>
           <h3 class="text-success">$250 includes 2 days of class + some 3D Prints</h3>
           <p> A great class to take before buying a 3d printer. </p>
           <p> 3D printers are cool - but there is more to the story. They are big, error prone, smelly, and could be bad for your health. Before you commit a corner of your small apartment to a huge stinky machine, you should come take this class.</p>
           <p> Class outline:</p>
           <ul>
           	<li>At the beginning of the class you will look at a catalog of models, pick one you want, and we'll turn on the printer.</li>
           	<li>While the printer runs, we'll get started designing a model for you to print.</li>
           	<li>Then we will explore the variety of places on the internet you can look for models</li>
           	<li> Next, we learn how to use a slicer to turn an STL into GCODE.</li>
           	<li> We leave that model on the side while our first model finishes. printing </li>
           	<li> Now we move on to the resin printer and discuss how to use it. </li>
           	<li> Now we prep our STL for printing on the resin printer.</li>
           	<li> Then we start the resin printer. </li>
           	<li> Then we will clean and cure your resin print </li>
           </ul>
           <p> At the end of the class you will have 2 or 3 prints depending on how much time we've had. Finally we will compare the 2 printing options. You will have smelled the fumes from both, seen the prep and clean up required for the two methods, and seen the quality of the output.</p>
      </div>  
      <div class="col-md-6">
      	            <img src="{{url_for('static', filename='Slicer.jpg')}}" alt="" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
      	<p> <strong> Price of the class includes all the material required: printers, filament, resin, gloves, cleaning supplies, etc.. </strong></p>
      </div>
      <div class="col-md-12">
      	<p> Email classes@hudsonlinux.com or call 551-300-9323 for more information or to sign up. Have more than one child, or want to bring a friend? Inquire about group discounts. </p>

      </div>
    </div>

    <div class="row m-2 border border border-success rounded">
      <div class="col-md-12">
           <h2>Embedded software development on Linux</h2>
           <p>This super fun, hands on class will involve controlling a variety of electro-mechanical devices from a raspberry pi or beaglebone computer. You'll learn all you need to build robots, design home IoT devices, and more.</p>
           <p> Raspberry Pi and Beaglebone available for sale, or bring your own.</p>
                      <p> Email classes@hudsonlinux.com or call 551-300-9323 for more information or to sign up. Have more than one child, or want to bring a friend? Inquire about group discounts. </p>

      </div>  
    </div>



<!--
    <h1>{% block title %}  {% endblock %}</h1>
    <h2>We offer the following classes:</h2>
    <h3> Linux </h3>
    <ul>	    
	    <li> Introduction to Linux </li>
	    <li> Advanced Linux </li>
	    <li> Embedded software development with Arduino </li>
	    <li> Embedded Linux Development </li>
	    <li> Linux Driver Development </li>
	    <li> Introduction to 3d printing </li>
	    <li> Introduction to CNC machining </li>
    </ul>

    <h3> Mobile Development </h3>
	<ul>	    
	    <li> Android App Development Kotlin</li>
	    <li> Android App Development with Java </li>
	    <li> Android App Development with Jetpack Compose </li>
	    <li> Cross platform development with Xamarin / .NET MAUI </li>
	</ul>

    <h3> Video Game Development </h3>
	<ul>
		<li> Introduction to Unreal Engine </li>
		<li> Virtual Reality Development with Unreal Engine </li>
		<li> Android Development with Unreal Engine </li>
	</ul>

-->

  </div>
</section>
{% endblock %}
