{% extends 'base.html' %}

{% block content %}


<section id="contact-section" class="bg-white text-black py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <h1>Get In Touch!</h1>
           <h2> Phone </h2>
			<p>
				Call Melvyn 551-300-9323
			</p>

           <h2> Email </h2>
			<p>
				Email us any questions at support@hudsonlinux.com
			</p>


			<h2>Location </h2>
			<p> We are currently finalizing a lease for an office location in the 30th street area of Union City. </p>

      </div>  
    </div>
  </div>
</section>

{% endblock %}
