{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Hudson Linux!</h1>
    <p>Hudson Linux is a small school offering hands on technical classes to the Hudson County area and beyond. Have you heard people talking about a thing called Linux and want to know what they're talking about? Are you a total beginner and looking to learn how to write computer programs? Are you a seasoned developer looking to brushen up on your skills? Do you have a vision to develop some sort of robot but need help coding and 3d printing pieces? Give us a call at: </p>
    <h3> 551-300-9323 </h3>
    <p>At Hudson Linux we have expertise in Linux, Bluetooth, Android, and Unreal Engine game development. In addition we have a wide array of useful, pricey technology - we have VR headsets, CNC machines, 3d printers, photo scanners, pcs, routers, switches, development boards, microcontrollers, etc.. If you need some expensive hardware but dont want to waste money or the space in your apartment - give us a call, we probably have the tool you need and can make what you need.</p>
{% endblock %}
