{% extends 'base.html' %}

{% block content %}
    <h1> Instructors</h1>
    <h2>Melvyn Drag:</h2>
    	<p>
	Hello, my name is Melvyn and I created Hudson Linux as a way to share some things I'm passionate about. My main interests are in Linux ( everything about Linux! Everything from writing software to server configuration to device drivers ), game development in Unreal Engine and writing Android apps that use bluetooth connections to do cool things.
	</p>
	<p> Also, I have accumulated a ton of interesting hardware over the years including CNC machine, 3d printers, fancy computer chips, development boards, VR headsets and more. I would love to share some of my knowledge about these things with other curious people! If you're in the area and would like to learn any of the skills I have I think I would be a great teacher for you! </p>
	<p>
	Regarding my qualifications - I have a masters degree in Computational Science and Math from the Ohio State University and I've worked at a handful of really awesome companies during my career. Currently I write cross platform apps and configure Linux servers at a major international industrial power tool company called HYTORC. I'm also an adjunct professor at NJCU in Jersey City. I have very good reviews - see my ratemyprofessors rating!
	</p>
{% endblock %}
