{% extends 'base.html' %}

{% block content %}
    <h1>Services Offered</h1>
	<p>
		In addition to classes, we offer a wide array of technical services. Here at  Hudson Linux we have many useful machines such as 3D printers, CNC routers, State-of-the-art photo scanners, and more. Do you have some creative goal, but you dont want to waste time and money investing in the expensive tools? Let us help you! Your patronage helps us afford the best machines, gives us time to learn how to use them well, and lets us deliver an awesome result to you!
	</p>

	<h3> Services </h3>
	<ul>
		<li> Photo Scanning - Does your family have a box of 10,000 photos taken in the 1930s in Colombia? Let us scan them for you so you can preserve these important family memories. Family history is very important to you, to the older memories of your family, and to the children you have and are yet to have.</li>
		<li>
			<div style="float: left;">
				<img src="{{url_for('static', filename='3DPrinter.jpg')}}" alt="Sermoon V1" height="250">
    			</div>
    			<div style="float: left;">
    			    <p> 3d printing - Need a special toy for you kid? A replacement part for something around the house? A new piece for your board game? We can print it for you with our amazing 3d printers </p>
    			</div>
    			<div style="float: none; clear: both;"></div>
		</li>
		<li> 3d printing - Need a special toy for you kid? A replacement part for something around the house? A new piece for your board game? We can print it for you with our amazing 3d printers </li>
		<li> Machining - Need a cool design carved out of a piece of wood or metal? We can do it!</li>
	</ul>
    {% endblock %}
