{% extends 'base.html' %}

{% block content %}



<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
           <h1>Services Offered</h1>
			<p>
				In addition to classes, we offer a wide array of technical services. Here at  Hudson Linux we have many useful machines such as 3D printers, CNC routers, State-of-the-art photo scanners, and more. Do you have some creative goal, but you dont want to waste time and money investing in the expensive tools? Let us help you! Your patronage helps us afford the best machines, gives us time to learn how to use them well, and lets us deliver an awesome result to you!
			</p>
      </div>  
    </div>
  </div>
</section>


<section id="explore-section" class="bg-light text-muted py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="{{url_for('static', filename='3DPrinter.jpg')}}" alt="" class="img-fluid mb-3 rounded-circle">
			</div>
			<div class="col-md-6">
				<h3> Services </h3>
			</div>  
		</div>
	</div>
</section>

{% endblock %}
