{% extends 'base.html' %}

{% block content %}



<section id="3d-gallery-section" class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <h1>3D Printing Gallery</h1>
			<p>
				Here is a collection of some interesting things we've printed on our printers. Head over to <a href="https://thingiverse.com"> Thingiverse </a> for further inspiration!
			</p>
      </div>  
    </div>
  </div>
</section>


<section id="3d-print-gallery-items" class="bg-light text-muted py-5 mb-5">
	<div class="container">

		<div class="row">
			<div class="col-md-6">
				<img src="{{url_for('static', filename='3dprint_02.jpg')}}" alt="" class="img-fluid mb-3 rounded">
			</div>
			<div class="col-md-6">
				<h3> Mimir </h3>
				<p> Keychains of Mimir, the wise talking head from God of War! Printed with PLA, then sanded, primed and painted with Vallejo miniature paint.</p>
			</div>  
		</div>

		<div class="row">
			<div class="col-md-6">
				<img src="{{url_for('static', filename='chess_01.jpg')}}" alt="" class="img-fluid mb-3 rounded">
			</div>
			<div class="col-md-6">
				<h3> Starcraft II Chess Set </h3>
				<p> Printing a chess set featuring the 3 races, zerg, protoss and terran.</p>
			</div>  
		</div>

		<div class="row">
			<div class="col-md-6">
				<img src="{{url_for('static', filename='chess_02.jpg')}}" alt="" class="img-fluid mb-3 rounded">
			</div>
			<div class="col-md-6">
				<img src="{{url_for('static', filename='3dprint_01.jpg')}}" alt="" class="img-fluid mb-3 rounded">
			</div>
		</div>


	</div>
</section>


{% endblock %}
